body {
  color: #222;
  font-family: sans-serif;
  padding:0 10px;
  margin:40px auto;
  max-width:768px;
  line-height:1.6;
  font-size:18px;
}

@media only screen and (max-width: 768px) {
  body {
    margin: auto;
  }
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
}

a {
  color: #009CFF;
  text-decoration: none;
}


h1,h2,h3{
  line-height:1.2
}

title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #eee;
  }

  a {
    color: #f7c475;
  }

  header {
    border-bottom-color: #eee;
  }

  footer {
    border-top-color: #eee;
  }
}

.commit-info {
  font-family: monospace;
  filter: brightness(50%);
  font-size: 0.8rem;
}
