<script src="https://giscus.app/client.js"
        data-repo="anakaiti/net"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMTQyOTMyMDc="
        data-category="Announcements"
        data-category-id="DIC_kwDODMXa184Caqj6"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<a class="commit-info" href="{{.Site.Params.commits_url}}/{{.GitInfo.AbbreviatedHash}}" rel="noopener noreferrer">
  {{.GitInfo.AbbreviatedHash}} -  {{.GitInfo.AuthorDate.Format "2006-01-02 15:04:05 -0700"}}
</a>
